* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}
body, body * {
	display: flex;
	flex: 1;
	flex-basis: 100%;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
}

h1 {
	font-size: 1.6rem;
	padding: 1rem 1rem 0 1rem;
}
nav {
	padding: 1rem;
}
h2 {
	max-width: 80%;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 2px solid #000;
}
p {
	margin-bottom: 1rem;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
}