* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}
body, body * {
	display: flex;
	flex: 1;
	flex-basis: 100%;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
}
body {
	color: #354551;
	background-color: rgba(108,180,228,.15);
}

h1 {
	font-size: 1.6rem;
	padding: 1rem;
}
nav {
	padding: 1rem;
	border-top: 2px solid #349ce4;
	border-bottom: 2px solid #349ce4;
}
nav ul li {
	padding: .15rem;
}
main {
	align-content: flex-start;
	height: 50vh;
	margin-top: 20vh;
}
h2 {
	max-width: 80%;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 2px solid #349ce4;
}
p {
	margin-bottom: 1rem;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	background-color: #354551;
	color: #fff;
}